.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 8px;
  color: #424242;
  overflow: auto;
}


.row {
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: 100%;
}
.col {
  width: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 4;
}

.p {
  font-size: 16px;
}

}
.img-fluid {
  max-width: 100%;
  height: auto;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

.header {
  overflow: hidden;
  background-color: #003466;
  padding: 20px 10px;
}

.header a {
  padding: 15px;
}

.header__inner a.header_title {
  color: #996600;
  font-size: 15px;
  font-weight: bold;
  vertical-align: inherit;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
*
*HEADER
*
*/
.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
  overflow: hidden;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 48px;
  margin-right: 1em;
  margin-left: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  font-weight: 300;
  font-size: 3em;
  margin: 0.75em 0.25em;
  display: inline-block;
  color: #025953;
}

/*
*
*NAV
*
*/

.navbar {
  width: 100%;
}

.navbar-nav {
	  overflow: hidden;
	  background-color: #996600;
    color: #003466;
    font-weight: 900;
    width: 100%;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.nav-item {
  float: left;
  display: block;
  text-align: center;
  padding: 1px;
  text-decoration: none;
  min-width: 48px;
  max-width: 48px;
}

.nav-link {
  min-width: 48px;
  max-width: 48px;
}

/*
*
*BODY
*
*/


/*
*
*MAIN
*
*/



/*
*
*BANNER
*
*/

.hero-banner {
  background: url("https://static.pexels.com/photos/248064/pexels-photo-248064.jpeg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-banner .hero-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

/*
*
*PROJECT BLOCKS
*
*/

.mt-0 {
  color: #025953;
  font-weight: 900;
}

.col {
  padding: 0.5em;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  }

.mr-3 {
  width: 40%;
}

a:link {
  color: #FFC300;
  font-size: 1.5em;
}

a:hover {
  color: #03F7F7;
  font-size: 1.5em;
}


/*
*
*ABOUT
*
*/

.p-about {
    text-align: left;
}

.display-4 {
  color: #8E030A;
}

.tagline-about {
  color: #006666;
}

.p-about {
  color: #003466;
  font-size: 16px;
}

.p-about-lead {
  color: #003466;
}

/*
*
*FOOTER
*
*/
.footer {
  width: 100%;
  height: 100%;
}
.navbar-nav-foot {
	  overflow: hidden;
	  background-color: #003466;
    color: #fff;
    font-weight: 900;
    width: 100%;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}


.nav-item-foot {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.col-foot2 {
  background-color: #996600;
  max-width: 65%;
  color: #fff;
}

.col-foot1 {
  background-color: #003466;
  max-width: 35%;
  color: #fff;
}

foot-contact {
  font-size: 12px;
}
